.content-header-title{
    border-bottom: 2px solid #dee2e6;
    border-radius: 0;
}
.login-box{
    margin: auto ;
}
.login-card-body .input-group .input-group-text{
   border-left: 1px; 
}
.login-card-body .input-group .input-group-text{
    border-bottom-right-radius: 0;
    border: 1px solid #ced4da;
    border-top-right-radius: 0;
}
.login-card-body .input-group .form-control{
    border: 1px solid #ced4da;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.login-box-msg{
    padding-bottom: 10px;
}
.login-message{
    padding: 5px;
}
.card-header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.dataTables_wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dataTables_length, .dataTables_info{
    padding-left: 10px;
}
.dataTables_filter, .dataTables_paginate{
    padding-right: 10px;
}
.card-body.p-0 .table tbody > tr > td:first-of-type, .card-body.p-0 .table tbody > tr > th:first-of-type, .card-body.p-0 .table thead > tr > td:first-of-type, .card-body.p-0 .table thead > tr > th:first-of-type {
    padding-left: .8rem;
}
.card-body.p-0 .table tbody > tr > td:last-of-type, .card-body.p-0 .table tbody > tr > th:last-of-type, .card-body.p-0 .table thead > tr > td:last-of-type {
    padding-right: .75rem;
}
.table td{
    padding: .4rem .4rem .4rem .75rem;
    vertical-align: middle;
}
.table td:last-child {
    padding-right: .75rem;
}
.btn-xs {
    padding: .1rem .22rem;
    line-height: 1.2;
}
.btn-xs .fa, .btn-xs .fas{
    font-size: .7rem;
}
.modal-md {
    max-width: 600px;
}
.modal-header, .modal-body, .modal-footer{
    padding: .5rem .8rem;
}
.modal-footer{
    background-color: #dee2e6;
    border-top: 1px solid #a5a8aa;
}
.elevation-4 {
    box-shadow:0 4px 7px rgba(0,0,0,.25),0 3px 3px rgba(0,0,0,.22) !important;
}

.alert-danger {
    color: #721c24;
    background-color:#f8d7da;
    border-color:    #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color:#d4edda;
    border-color:#c3e6cb;
}
.alert-info {
    color: #0c5460;
    background-color:#d1ecf1;
    border-color:#bee5eb;
}
.alert-warning {
    color: #856404;
    background-color:#fff3cd;
    border-color:#ffeeba;
}
.alert-primary {
    color: #004085;
    background-color:#cce5ff;
    border-color:#b8daff;
}
.alert-dark {
    color: #1b1e21;
    background-color:#d6d8d9;
    border-color:#c6c8ca;
}
.select2-container .select2-selection--single {
    height: 31px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    margin-top: -7px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-top: -3px;
}
.select2-container--default .select2-selection--multiple{
    min-height: 31px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 26px;
}
.tree-ml-1{
    margin-left: .75rem !important;
}
.tree-ml-2{
    margin-left: 1.5rem !important;
}
.tree-ml-3{
    margin-left: 2.25rem !important;
}
.tree-ml-4{
    margin-left: 3rem !important;
}
.tree-ml-5{
    margin-left: 3.75rem !important;
}
.modal-92{
	width: 92% !important;
	max-width: 98% !important;
}
.modal-98{
    width: 98% !important;
    max-width: 98% !important;
}
.no-border-t, table.no-border-t th{
    border-top: 0;
}
.no-border-b{
    border-bottom: 0;
}
.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}

.preview-images-zone  .preview-image > .image-zone {
    width: 260px;
    height: 260px;
    margin:auto;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    text-align:center;
}
.preview-images-zone  .preview-image > .image-zone > img {
    max-width: 250px;
    max-height: 250px;
}

.preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}
/*#ajax-modal-confirm{
    z-index: 1060 !important;
}*/
.strip-row{
	background-color: rgba(0,0,0,.05);
}
.modal-backdrop {
    background-color: #8EA0D7;
}
.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}
.progress-tittle, .progress-status{
	width: 300px;
	margin-left: 0%;
	color: #212529;
}
.col-form-label{
	text-align: right;
	padding-right: 10px;
}
.col-form-label:after{
	content:" :";
}
.display-5 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1;
	font-family: mono;
}
.req-title{
	font-size: 1.1rem !important;
	font-weight: bold;
}
.req-small{
	display: block;
}
.req-name{
	font-size: 1.1rem;
	margin-bottom: 0;
}
.status_realtime > .badge{
	margin-bottom: 2px;
}

.nav-tabs .nav-link.active, .nav-tabs.flex-column .nav-link.active, .vert-tabs-tabContent {
    border-top: 3px solid #007bff;
}

.vert-tabs-tabContent{
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

/*Select2 ReadOnly Start*/
.disabled-select {
    background-color: #d5d5d5;
    opacity: 0.5;
    border-radius: 3px;
    cursor: not-allowed;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}
/*Select2 ReadOnly End*/
.blockUIblockMsg.blockElement{
    top: 50% !important;
    left: 50% !important;
}
.l3{
    padding-left: 15px !important;
}
.sidebar-collapse .l3{
    padding-left: .8rem !important;
}
.w-80p{width: 80px;}
.w-100p{width: 100px;}
.w-120p{width: 120px;}
.text-lg{
    font-size: 1.5em !important;
    line-height: 1.15;
}
.blockView, .btn, .btn-group {
    cursor: pointer;
}
.blockView:hover{
    background-color: #ffc107;
}

.btn:not(:disabled):not(.disabled).active{
    color: #ffc107;
}
.required{
    color: red;
    font-weight: bold;
    padding-left: 1px;
}

table.table-custom-header{
    border-collapse: collapse !important;
}
table.table-custom-header tr > th{
    font-size: 90%;
    padding: 0.5rem;
}

.img-caption-sm{
    font-size: 10px;
}